* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body.home {
    margin: 0px;
    padding: 0px;
    background: rgb(36, 37, 38);
    font-family: 'Questrial', sans-serif;

}

p {
    color: white;
}

.banner {
    background: rgb(24, 25, 26);
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;

}

nav {
    min-height: 10vh;
    display: flex;
    width: 95%;
    margin: auto;
    padding: 2rem;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo {
    flex: 1 1 40rem;
    align-self: center;
    font-size: xx-large;

    background-image: linear-gradient(
        -225deg,
        #88D498 0%,
        #88D498 29%,
        #88D498 67%,
        #88D498 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-emphasis-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 5s linear infinite;
      filter: brightness(1);
    

}

.nav_links li a {
    transition: all 0.1s ease 0s;
}

.nav_links li a:hover {
    color: rgb(136, 212, 152);
}

.presentation {
    display: flex;
    justify-content: center;
    padding: 1%;
}

img {
    width: 40%;
    border-radius: 1%;
    filter: brightness(0.85);


}

.presentation img {
    transition: all 0.1s ease 0s;
}

.presentation img:hover {
    width: 41%;
    cursor: pointer;
    filter: brightness(1);
}

p {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
}

.soutitre {
    font-size: 150%;
    position: relative;
    margin-top: 1%;
}

.centrageHookup {
    padding-top: 5%;
}

.hookup {
    color: rgb(17, 75, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    font-size: 500%;


  background-image: linear-gradient(
    -60deg,
    #114B5F 0%,
    #1A936F 29%,
    #88D498 67%,
    #1A936F 70%,
    #114B5F 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  filter: brightness(1);
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


#hook {
    position: relative;
    margin-top: 2%;
    font-size: 80%;

    background-image: linear-gradient(
        -225deg,
        #114B5F 0%,
        #1A936F 29%,
        #88D498 67%,
        #114B5F 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-emphasis-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 5s linear infinite;
      filter: brightness(1);
    

}

hr.divider {
    border-top: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 70%;
    display: flex;
    margin: auto;
  }


  /* SAMPLE PACKS JUSTE EN DESSOUS */

body.sp {
    margin: 0px;
    padding: 0px;
    background: rgb(36, 37, 38);
    font-family: 'Questrial', sans-serif;

}

#clicked {
    text-decoration: underline;
}

.samplepack {
    font-size: 130%;
    display: flex;
    padding: 2% 2%;
    color: white;
}



.Suranus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 0%;
}

.Suranus a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ovsp {
    display: flex;
    justify-content: center;


}

#Suranus {
    border-radius: 1%;
    width: 50%;
    box-shadow: 2px 2px 50px -10px black;
    position: relative;
    align-self: center;

}



.Suranus img {
    transition: all 0.1s ease 0s;
    width: 40%;
}

.Suranus img:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: brightness(1.05);
}

#titre1 {
    position: relative;
    margin-top: 3%;
    font-size: 200%;

}

#titre2 {
    margin-top: 1%;
    font-size: 100%;

}

/*Back To TOP button
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
  }
*/

/* KONTAKT LIBRARIES JUSTE EN DESSOUS
En réalité kontakt utilise aussi les trucs de Suranus donc voila mdr*/

#clicked2 {
    text-decoration: underline;
}

body.sp {
    margin: 0px;
    padding: 0px;
    background: rgb(36, 37, 38);
    font-family: 'Questrial', sans-serif;

}

.kontaktTitre {
    font-size: 130%;
    display: flex;
    padding: 2% 2%;
    color: white;
}



.KSP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 0%;
}

.ovsp {
    display: flex;
    justify-content: center;


}

#KSPid {
    border-radius: 1%;
    width: 80%;
    box-shadow: 2px 2px 50px -10px black;

}

.KSP img {
    transition: all 0.1s ease 0s;
}

.KSP img:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: brightness(1.05);
}


/* PRODUCT PAGE */


body.product {
    margin: 0px;
    padding: 0px;
    background: rgb(36, 37, 38);
    font-family: 'Questrial', sans-serif;

    
    background-image: url(FinalCoverSuranus.png);
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: blur(25px);
    
    

}

.blur {
    background: rgba(255, 255, 255, 0.2); 
	width: 0%;
    height: 100vh;
    filter: brightness(0.2);
    
}


.PRODUCT_OVERVIEW {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productImage {
    display: flex;
    flex-basis: 20%;
}

.productImage img{
    display: flex;
    border-style: solid;
    border-color: white;
    flex-basis: 150%;



}

/*******.PRODUCT_OVERVIEW {
    border-style: solid;
    border-color: red;
}*********/

.descProduct {
    background: rgba(36, 37, 38, 0.651);
    border-radius: 1%;
    border-style: inset;
    position: relative;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 2%;
    line-height: 150%;

}


#miniDesc {
    filter: blur(50%);
    display: flex;
    justify-content: left;
    color: white;
}

#miniTitre {
    filter: blur(50%);
    display: flex;
    justify-content: left;
    color: white;
    padding-bottom: 10%;
}

#miniPrix {
    display: flex;
    justify-content: left;
    font-size: 70%;
}


.dlGrid {
    display: flex;
    flex-direction: column;
}

.audioex {
    position: absolute;
    margin-left: 10%;
    display: flex;
    justify-content: left;
}


/* Nouveau Try pour la Product Page !!*/

.colonne {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cover {
    margin-top: 5%;
    width: 20%;
}

.autreColonne {
    position: absolute;
    display: flex;
    justify-content: center;
    transition: all 0.1s ease 0s;
    margin-top: 5%;
    width: -500px;
}

.autreColonne:hover{
    filter: brightness(1.5);
    cursor: pointer;
    transform: scale(1.05);
    
}









/* EASTER EGGS !!*/
.joel {
    width: 4%;
    opacity: 5%;
    transition: all 0.1s ease 0s;
}

.joel:hover {
    width: 4%;
    opacity: 100%;
}